@model IEnumerable<GamersHub.Models.Review>

@{
    ViewData["Title"] = nameof(GamersHub.Models.Review);
}

<h1>@nameof(GamersHub.Models.Review)</h1>

<p>
    @* <a asp-action="Create">Create New</a> *@
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>@Html.DisplayNameFor(model => model.Game)</th>
            <th>@Html.DisplayNameFor(model => model.Content)</th>
            <th>@Html.DisplayNameFor(model => model.Rating)</th>
            <th>@Html.DisplayNameFor(model => model.User)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.Game?.ImagePath))
                    {
                        <img src="@item.Game.ImagePath" alt="@item.Game.Title" width="80" height="80" style=" object-fit: cover;" />
                    }
                    else
                    {
                        <span>No image</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.NormalizedUserName)
                </td>
                <td>
                    @item.CreatedAt.ToString("yyyy-MM-dd")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

